/* Main Root section (Global Changes) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
  --main-color: #fff;
  --secondary-color: #272D33;
  --tertiary-color: #808A95;
  --bg-color: #fff;
  --black: #000;
  --light-blue: #00C2FF;
  --dark-blue: #0080FF;
}
  
body {
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

#a-color-link {
  color: var(--dark-blue);
}

a {
  text-decoration: none;
  font-weight: 300;
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

.button {
  padding: 8px 25px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

.less-rounded {
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px 25px;
  font-weight: 100;
}

/* Header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border: 0px 0px 1px 0px solid rgba( 255, 255, 255, 0.18 );
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-bar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#nav-bar li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3 ease;
}

#nav-bar li a.active,
#nav-bar li a:hover {
  color: var(--dark-blue);
}

#nav-bar li a.hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--dark-blue);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Header end */

/* Hero Section Starts */
.google-play-download-button {
  width: 200px;
  margin: 20px 0px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  height: 100vh;
}

#hero-text {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: start;
  align-items: start;
  padding-left: 20px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
}

#hero-text p {
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0;
  color: var(--tertiary-color);
}

#hero-image {
  padding: 0px;
  position: relative;
  object-position: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#hero-image img {
  width: 45%;
  max-width: 40%;
  height: auto;
  max-height: 40%;
}

.hero-section {
  flex: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Hero Section Ends */


/* Overview Section Start */
.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  height: 240px;
  background-color: var(--secondary-color);
}

.overview-item {
  text-align: center;
}

.overview-item h3 {
  font-weight: 200;
  font-size: 16px;
  margin-top: 16px;
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
}

/* Overview Section Ends */


/* About Section Starts */
#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 80px;
}

.about-section {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

#about-text h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

#about-text {
  display: block;
}

#about-text p {
  color: var(--tertiary-color);
  font-size: 15px;
  margin: 20px 0px;
  line-height: 30px;
}

#about-text h4 {
  color: var(--tertiary-color);
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0px;
  line-height: 30px;
}

#about-image {
  padding: 0px;
  position: relative;
  object-position: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#about-image img {
  height: 80vh;
  width: 70%;
}

/* About Section Ends */


/* Features Section Starts */
#features {
  background-image: url(/assets/features/Features-Background.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: top 25% right 0%;
  padding: 20 80px;
  display: flex;
  flex: 33%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;  
  color: white;
}

.features-section {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.features-section h3 {
  font-weight: 600;
  background: -webkit-linear-gradient(var(--light-blue), var(--dark-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-section h5 {
  color: white;
  font-weight: 400;
}

.feature-items {
  margin: 20px 0px;
}

#center-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#center-items h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

#center-items img {
  width: 30%;
}

#odd-features {
  align-items: start;
  text-align: start;
}

#even-features {
  align-items: end;
  text-align: end;
}


/* Features Section Ends */

#app-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}


#screenshot-img {
  width: 200px;
}

#app-preview h3 {
  margin: 20px auto;
}

table {
  text-align: center;
  width: 800px;
  /* border-collapse: collapse; */
  margin: auto;
  font-size: 20px;
  border-collapse: separate;
  border-spacing: 6em 2em;
}

/* App Preview Ends */

/* FAQ Section Starts */

#FAQ-header {
  padding: 20px 0px 40px 0px;
}

.accordion-content {
  /* max-width: 570px; */
  /* margin: 0 auto; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  display: grid;
  place-items: center;
  width: 100%; 
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  background: #fff;
  margin-bottom: 0.5em;
}

.item-header {
  display: flex;
  justify-content: space-between;
  /* column-gap: 0.2em; */
  font-family: 'Space Grotesk', sans-serif;
}

.item-icon {
  margin-top: 1rem;
  /* margin: 12px 0px; */
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: #dedede;
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
}
.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item-question {
  font-size: 1.2rem;
  line-height: 3;
  font-weight: 700;
}

.active .item-icon i {
  transform: rotate(180deg);
}

.active .item-question {
  font-weight: 500;
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-answer {
  line-height: 150%;
  opacity: 0.8;
  width: 100%;
  /* max-width: 95%; */
  font-size: 1rem;
  /* margin: 10px 0px; */
  padding: 10px 0px;
}


/* FAQ Section Ends */

.footer-distributed{
	background: rgb(0, 0, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
  font-family: 'Space Grotesk', sans-serif;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
  font-size: 50px;
  font-family: 'Space Grotesk', sans-serif;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.logo{
  height: 10vh;
  width: 10vh;
}

/* Footer Starts */

